@import '../../../main-styles.scss';

.form-container{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
}

.field{
    margin-bottom: 25px;
}

.label{
    color: $primary;
}

.cancel-button{
    background-color: $primary;
}

.small-field{
    width: 350px;
}

.flex-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}