@import '../../../main-styles.scss';

.player-card-container{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
    transition: box-shadow 0.2s ease-out;
    position: relative;

    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 4px rgba(black, 0.068);
        
        .x-button {
            opacity: 1;
            transition-delay: 0.35s;
            transform: scale(1);
        }
    }

    .player-card-content{
        padding: 25px;

        .player-name{
            font-size: 25px;
            font-weight: bold;
            color: $blue;
        }

        .label{
            display: flex;

            p{
                font-size: 20px;
                font-weight: bold;
                padding-right: 10px;
                color: #555;
            }

            div{
                padding-top: 3px;
                font-weight: 500;
                color: #555;
            }
        }   
    }
}

.x-button{
    position: absolute;
    top: 12px;
    right: 12px;
    height: 34px;
    width: 34px;
    background-color: $light-red;
    border-radius: 10px;
    opacity:0;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transform: scale(0.35);

    .fa-trash{
        color: rgb(121, 21, 21);
        padding-left: 5px;
        padding-top: 8px;
    }

    &:hover{
        background-color: darken($light-red, 2%);
    }

    &:active{
        background-color: darken($light-red, 4%);
    }
}

